
body, h1, h2, p {
    margin: 0;
    padding: 0;
	font-family: monospace;
	font:Courier New;
}

body {
    font-family: Arial;
    background-color: #000000;
    color: #d1d1d1;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;

}

header {
	background-color: #333;
	color: #fff;
    padding: 10px 0;

}

nav li {
    display: inline;
    margin-right: 20px;

}

section {
    background-image: "C:\Users\jrush\Desktop\web_pics\skyline.jpg";
    margin: 20px 0;
    padding: 40px 0;
	background-color: #4f4a4f;
}

h1, h2 {
    color: #ADD8E6;
	font-family: monospace;
	font: freemono;
}

.project-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



a {
    text-decoration: none;
    color: #333;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

a:hover {
    background-color: #333;
    color: #fff;
}

quotes {
	color: #ffffff;
	font-family: monospace;
	font:Courier New;
	font-size; 24pt;
	position:relative;
	margin-left:110px;
	margin-right:110px;
}

div {
background-image: url("C:\Users\jrush\Desktop\web_pics\skyline.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
color: #FFFFFF;
}